doctype html
html
  head
    meta(http-equiv="content-type" content="text/html; charset=UTF-8" )
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" )
    style.
      ul {padding: 0;}
      li {list-style: none;}
      .dai {display: inline-block;vertical-align: top;}
      .chu {display: block;}
      .chu__item {display: block;vertical-align: top;margin-left: 20px;}
      .chu__item__label {background: #f1f1f1;}
      .sho {display: inline-block;vertical-align: top;margin-left: 20px;}
  body
    .content
    script(type="text/javascript" src="./bundle.js")
